.container{

    display: flex;
    flex-direction:row;
justify-content: space-between;
}

.img{

width: 200px;
height: 200px;
margin-left: 10px;
padding-left: 10px;
padding-top: 10px;
}

p{

width: 200px;
height: 200px;
margin-left: 10px;
}